# Loading the needs Libraries

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings 
from sklearn.model_selection import train_test_split

In [2]:
warnings.filterwarnings('ignore') 
%matplotlib inline

In [16]:
house_dataset = pd.read_csv('housing.csv')

## Type of data frame read from pandas Library

In [20]:
type(house_dataset)

pandas.core.frame.DataFrame

## The first 5 rows in the dataset

In [21]:
first_5_rows = house_dataset.head()
first_5_rows

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## The last 5 rows in the dataset

In [22]:
last_5_rows = house_dataset.tail()

In [24]:
pd.options.display.min_rows = 100

## The first 40 rows in the dataset

In [25]:
house_dataset.head(25).style.background_gradient(cmap='Reds')

## Shown some statistical measurement

In [27]:
house_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## type of the data for each columns

In [29]:
house_dataset.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

## Shown some statistical measurement

In [62]:
house_dataset.describe().style.background_gradient(cmap='Greens')

## Include non-numerical values for the statistical analysis

In [72]:
house_dataset.describe(include='all')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<1H OCEAN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9136
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909,NaN
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874,NaN
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,NaN
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000,NaN
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000,NaN
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000,NaN
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,NaN

## The total null value in each column

In [73]:
house_dataset.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## The max value for each columns

In [89]:
house_dataset.max()

longitude                -114.31
latitude                   41.95
housing_median_age          52.0
total_rooms              39320.0
total_bedrooms            6445.0
population               35682.0
households                6082.0
median_income            15.0001
median_house_value      500001.0
ocean_proximity       NEAR OCEAN
dtype: object

## The lowest value in each column in the datase

In [90]:
house_dataset.min()

longitude               -124.35
latitude                  32.54
housing_median_age          1.0
total_rooms                 2.0
total_bedrooms              1.0
population                  3.0
households                  1.0
median_income            0.4999
median_house_value      14999.0
ocean_proximity       <1H OCEAN
dtype: object

## The row of the house contains the highest number of rooms

In [91]:
house_dataset[house_dataset['total_bedrooms'] == house_dataset['total_bedrooms'].max()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
9880,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0,<1H OCEAN

## The row of the house contains the lowest number of rooms

In [93]:
house_dataset[house_dataset['total_bedrooms'] == house_dataset['total_bedrooms'].min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16171,-122.5,37.79,52.0,8.0,1.0,13.0,1.0,15.0001,500001.0,NEAR BAY

## The price for the house contain the highest number of rooms

In [94]:
house_dataset[house_dataset['total_bedrooms'] == house_dataset['total_bedrooms'].max()]['median_house_value'].values[0]

118800.0

## The total price for the house with the lowest number of rooms

In [95]:
house_dataset[house_dataset['total_bedrooms'] == house_dataset['total_bedrooms'].min()]['median_house_value'].values[0]

500001.0

## The lowes house rooms in the dataset

In [99]:
house_dataset[house_dataset['total_bedrooms'] == house_dataset['total_bedrooms'].min()]['total_bedrooms'].values[0]

1.0

## The total of room in the house contains the highest number of rooms

In [98]:
house_dataset[house_dataset['total_bedrooms'] == house_dataset['total_bedrooms'].max()]['total_bedrooms'].values[0]

6445.0

## Calculate the percentage of the missing data

In [92]:
missing_percentage = (house_dataset.isna().sum().sum() / house_dataset.size) * 100

print(f'The percentage of the missing data is {missing_percentage:.2f}%')

The percentage of the missing data is 0.10%

## Get the total amount of missing data

In [88]:
print(f'The total amount of missing data is {house_dataset.isna().sum().sum()}')

The total amount of missing data is 207